.stt {
  width: 7%;
  text-align: center;
}
.bookingCode {
  width: 18%;
}
.consultationDay {
  width: 18%;
}
.implementationDate {
  width: 19%;
}
.receptionist {
  width: 19%;
}
.action {
  width: 18%;
  color: var(--primary-btn-hover-color);
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    text-decoration: underline;
  }
}
.item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
