@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.history {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: calc(-100vh + 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.4s linear;
  .controlBtn {
    position: relative;
    background: #fb5555;
    color: #fff;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 40px 40px 0 0;
    padding: 7px 25px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    img {
      position: absolute;
      width: 30px;
      height: auto;
      transition: all 0.2s linear;
      display: block;
      bottom: 100%;
      animation: updown 1s linear infinite;
      opacity: 0.4;
    }
    span {
      font-size: 16px;
    }
  }
  .box {
    width: 100%;
    background: #fff;
    height: calc(100vh - 50px);
    overflow: auto;
    border-radius: 30px 30px 0 0;
    padding: 40px 0;
    .info {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      span {
        width: 25%;
        text-align: center;
      }
    }
    .table {
      overflow-x: auto;
      .main {
        min-width: 912px;
      }
      .header {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        span {
          font-weight: 600;
        }
      }
      .stt {
        width: 5%;
        text-align: center;
      }
      .service {
        width: 15.8%;
      }
      .status {
        width: 15.8%;
      }
      .advise {
        width: 15.8%;
      }
      .reExamination {
        width: 15.8%;
      }
      .adviseDoctor {
        width: 15.8%;
      }
      .performedDoctor {
        width: 15.8%;
      }
      .item {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 912px) {
    .box {
      .info {
        flex-wrap: wrap;
        gap: 10px;
        span {
          width: 48%;
        }
      }
    }
  }
  @media (max-width: 428px) {
    .box {
      .info {
        span {
          b {
            display: block;
          }
        }
      }
    }
  }
}
