.box {
  .item {
    margin-bottom: 20px;
    p {
      color: var(--primary-icon-color);
      font-size: 18px;
      font-weight: 600;
      padding: 0 5px 5px;
      border-bottom: 2px solid var(--primary-icon-color);
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
