@keyframes spin {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-bg-color);
  .box {
    position: relative;
    width: 90%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .profile {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 40%;
      max-width: 300px;
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 50%;
        border: 2px solid var(--primary-border-color);
        padding: 10px;
        background: #fff;
      }
    }
    .row {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .position {
      width: 80%;
      max-width: 300px;
      height: 100px;
      position: relative;
      button {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 7px 15px;
        cursor: pointer;
        display: flex;
        border: 2px solid var(--primary-border-color);
        border-radius: 8px;
        height: 100%;
        background: #fff;
        box-shadow: 0 0 29px rgba(0, 0, 0, 0.2);
        gap: 15px;
        align-items: center;
        text-align: start;
        overflow: hidden;
        transition: all 0.2s linear;
        opacity: 0.7;
        &:hover {
          height: max-content;
          z-index: 10;
          align-items: flex-start;
          opacity: 1;
          img {
            margin-top: 20px;
          }
        }
        img {
          display: block;
          max-width: 40px;
          min-width: 40px;
          width: 50%;
          height: auto;
        }
        &:hover {
          img {
            animation: spin 0.5s linear;
          }
        }
        .content {
          overflow: hidden;
          align-self: self-start;
          ul {
            padding-left: 18px;
            font-size: 14px;
            margin: 0px 0;
          }
          span {
            display: block;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .controlBtn {
    position: fixed;
    bottom: 0;
    background: var(--primary-icon-color);
    color: #fff;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 40px 40px 0 0;
    padding: 7px 25px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    transition: all 0.2s linear;
    &:hover {
      background: var(--primary-btn-hover-color);
    }
    img {
      position: absolute;
      width: 30px;
      height: auto;
      transition: all 0.2s linear;
      display: block;
      bottom: 100%;
      animation: updown 1s linear infinite;
      opacity: 0.4;
    }
  }
}
